.square {
  width: 80px;
  height: 80px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 'Arial';
  font-weight: bold;
  font-size: 35px;
}

.green {
  background-color: #6ca965;
}

.yellow {
  background-color: #c8b653;
}

.white {
  background-color: white;
}
