.word {
  padding-left: 100px;
}

.letter {
  margin: 10px;
}

.button {
  background-color: lightgrey;
  margin-top: 25px;
  height: 80px;
  width: 80px;
  font-size: 40px;
  color: #000000;
}

.hidden {
  visibility: hidden;
}

.checkIcon {
  font-size: 2.5rem;
}
