.white {
  background-color: white;
  &:hover {
    background-color: lightgrey;
  }
}

.colorButton {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: 1px solid;
  min-width: unset;
}

.buttonGroup {
  display: flex;
  margin: 8px;
}

.hidden {
  visibility: hidden;
}
